@import url(https://fonts.googleapis.com/css?family=Yellowtail);

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Roboto:700');

body{
  background-color: white;
}

h1{
  text-align: center;
  font-size: 80px;
  font-family: 'Yellowtail', cursive; 
  color: #cd5360;
  
}

p{
  font-size:16px;
  font-weight: bold;
  font-family: 'Monospace', monospace;
  color: #233237;
}

ul li{
  color: #cd5360;
  font-family: 'Gochi Hand', cursive;
  font-size: 35px;
  padding-top: 5%;
  text-align: center;
  list-style: none;
}

img{
  width:400px;
  height:300px;
  padding-top:0%;
}

i{
  font-size: 20px;
  color: #cd5360;
  background-color: white;
}

button{
  top: 0;
  z-index:1;
  display: flex;
  position: fixed;
  margin-top:600px;
  margin-left: 50px;
}

